html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    background-image: url(../assets/fon.jpg);
}

.zagolovki {
    text-align: center;
}

/* Стиль для head */
.head-site {
    background: #ccc url('/assets/Logo-head.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    object-fit: cover;
    object-position: top;
}

.dark-mode {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-image: url(/assets/dark-mode.png);
    background-size: 100%;
    border-radius: 30%;
}

.head-bg {
    display: flex;
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 500px;
    text-shadow: 2px 2px 12px rgba(158, 158, 158, 0.7), 0 2px 6px rgba(151, 142, 142, 0.7);
    background: rgba(0, 0, 0, 0.5);
    transform: skew(-20deg);
    justify-content: center;
}

.text-bg {
    transform: skew(20deg);
    color: #ffffff;
}

/* Стиль для навигации */
.nav-menu {
    width: fit-content;
    padding: 12px;
    border-radius: 8px;
    position: relative;
    margin: 10px auto;
    background: #337AB7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.1);
}

.nav-menu:before,
.nav-menu:after {
    background: #BFE2FF;
    content: "";
    border-radius: 8px;
    position-anchor: --menu;
    position: absolute;
    top: anchor(bottom);
    bottom: calc(anchor(bottom) - 4px);
    left: anchor(left);
    right: anchor(right);
    transition: 0.5s;
    transition-timing-function: linear(0, 0.008 1, 1%, 0.031 2.2%, 0.129 4.8%, 0.257 7.2%, 0.671 14.2%, 0.789 16.5%, 0.881 18.6%, 0.957 20.7%, 1.019 22.9%, 1.063 25.1%, 1.094 27.4%, 1.114 30.7%, 1.112 34.5%, 1.018 49.9%, 0.99 59.1%, 1);
    z-index: 1;
}

.nav-menu:after {
    top: calc(anchor(top) - 4px);
    bottom: anchor(top);
}

.nav-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    anchor-name: --menu;
    justify-content: center;
    z-index: 2;
}

.nav-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
    font-size: 18px;
    font-weight: bold;
}

.nav-menu a:hover {
    position: relative;
    display: block;
    anchor-name: --menu;
    color: #337AB7;
}

.nav-menu:has(a:hover):before,
.nav-menu:has(a:hover):after {
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
}

@supports not (anchor-name: --menu) {
    .nav-menu a:hover {
        color: #BFE2FF;
    }
}

.cta-button {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    transition: transform 0.2s ease-out, padding 0.2s ease-out;
    overflow: hidden;
}

.cta-button:hover,
.cta-button:active,
.cta-button:focus {
    color: #FFF;
    transform: rotate(-2deg);
    padding: 12px 50px 12px 10px;
}

.cta-button:before {
    content: "\27A4";
    position: absolute;
    right: -30px;
    color: #1C4B73;
    transition: right 0.5s cubic-bezier(.97, .01, .97, .55);
}

.cta-button:hover:before,
.cta-button:active:before,
.cta-button:focus:before {
    right: 10px;
}

.btn-cntr {
    text-align: center;
}

/* Сетка */
.card-how-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px -10px;
}

.card-how-container *,
.card-how-container *::before,
.card-how-container *::after {
    box-sizing: border-box;
}

.card-col {
    width: 100%;
    padding: 10px;
}

@media (min-width: 576px) {
    .card-col {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .card-col {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .card-col {
        width: 33.33%;
    }
}

@media (min-width: 1200px) {
    .card-col {
        width: 33.33%;
    }
}

@media (min-width: 1400px) {
    .card-col {
        width: 25%;
    }
}

/* Карточка */
.card-how {
    position: relative;
    height: 100%;
    z-index: 1;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #ddd;
    transition: 0.5s;
    background: #fff;
}

.card-how-image {
    position: relative;
    aspect-ratio: 1.2 / 1;
    overflow: hidden;
}

.card-how-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.card-how-image strong {
    color: #337AB7;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 80px 16px 36px;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    text-shadow: 0 0 22px rgba(255, 255, 255, 0.8), 0 2px 10px rgba(255, 255, 255, 1);
    transition: 0.5s;
    font-weight: 600;
}

.card-how-txt {
    transform: translateY(-8px);
    text-align: center;
}

.card-how-txt p {
    font-size: 16px;
    line-height: 1.3;
    padding: 0 16px;
    margin: 0;
}

.card-how:hover {
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2), inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.card-how:hover .card-how-image img {
    transform: scale(1.1);
}

.card-how:hover .card-how-image strong {
    padding: 120px 16px 66px;
    color: #000;
}

@media (min-width: 576px) {
    .card-how-txt p {
        font-size: 18px;
    }
}

/* Сетка */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px -10px;
    counter-reset: count;
}

.card-container *,
.card-container *::before,
.card-container *::after {
    box-sizing: border-box;
}

.cardCol {
    width: 100%;
    padding: 10px;
}

@media (min-width: 576px) {
    .cardCol {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .cardCol {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .cardCol {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .cardCol {
        width: 33.33%;
    }
}

@media (min-width: 1400px) {
    .cardCol {
        width: 33.33%;
    }
}

/* Карточки курсов */
.Cards {
    height: 500px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    padding: 16px;
    transition: all 500ms ease;
}

.Cards:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}

.Card-img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
    aspect-ratio: 2 / 1;
}

.Card-img::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    transition-property: all;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 1;
    content: "";
}

.Cards:hover .Card-img::before {
    opacity: 1;
}

.Card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
    transition: .5s ease;
    transform: scale(1.05);
}

.Cards:hover .Card-img img {
    transform: scale(1);
}

.Card-content {
    position: relative;
    display: block;
    margin-top: -40px;
    margin-bottom: 54px;
    padding: 0 10px 0;
}

.Card-content p {
    font-size: 16px;
    margin: 0 0 20px;
}

.Card-count:after {
    position: absolute;
    top: 48px;
    right: 0;
    font-size: 38px;
    line-height: 1;
    font-weight: bold;
    color: #ddd;
    counter-increment: count;
    content: "0" counter(count);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.Cards:hover .Card-count:after {
    color: #337AB7;
}

.Card-icon {
    position: relative;
    height: 80px;
    width: 80px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    border-radius: 15px;
    z-index: 2;
    transform: scale(0.8);
}

.Card:hover .Card-icon {
    background-color: #337AB7;
}

.Card-icon svg {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    fill: #337AB7;
    transition-delay: 0.1s;
    transition: all 500ms ease;
}

.Card:hover .Card-icon svg {
    transform: rotateY(180deg);
    transition-delay: 0.1s;
    fill: #fff;
}

.Card-title {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 14px;
    font-weight: bold;
}

.Card-title a {
    color: #000;
}

.Card-title a:hover {
    color: #337AB7;
}

.Card-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    border: 2px solid #ddd;
    padding: 8px 25px;
    border-radius: 30px;
    transition: color 0.5s ease-in-out, border 0.5s 0.2s ease-in-out;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 2;
    text-align: center;
}

.Card-btn:hover {
    color: #fff;
    border: 2px solid #337AB7;
}

.Card-btn::before {
    content: "";
    background-color: #337AB7;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: circle(0% at 50% 50%);
    transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
    z-index: -1;
}

.Card-btn:hover::before {
    clip-path: circle(100% at 50% 50%);
    transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 4s;
    transition-delay: 300ms;
}

.Card-btn::after {
    content: "";
    background-color: #BFE2FF;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: circle(0% at 50% 50%);
    transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
    z-index: -2;
}

.Card-btn:hover:after {
    clip-path: circle(100% at 50% 50%);
    transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 4s;
}

@media (min-width: 992px) {
    .Card-count:after {
        top: 50px;
        font-size: 44px;
    }

    .Card-icon {
        transform: scale(1);

        .Card-title {
            margin-top: 20px;
        }

        .Card-title {
            font-size: 22px;
        }

        .Card-content p {
            font-size: 18px;
        }
    }
}

/* Сетка отзывов*/
.revCard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px -10px;
}

.revCard-container *,
.revCard-container *::before,
.revCard-container *::after {
    box-sizing: border-box;
}

.revCard-col {
    width: 100%;
    padding: 10px;
}

@media (min-width: 576px) {
    .revCard-col {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .revCard-col {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .revCard-col {
        width: 33.33%;
    }
}

@media (min-width: 1200px) {
    .revCard-col {
        width: 25%;
    }
}

@media (min-width: 1400px) {
    .revCard-col {
        width: 25%;
    }
}

/* Карточки отзывов */
.revCard {
    position: relative;
    padding: 12px 12px 34px;
    border-radius: 18px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: box-shadow 0.3s;
    height: 100%;
}

.revCard:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.revCard-top {
    display: flex;
    gap: 8px;
}

.revCard-avatar {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23337AB7' d='m2.006 64h59.987c-.448-12.917-9.261-23.913-21.806-27.129l-7.464 7.329c-.401.394-1.045.394-1.446 0l-7.464-7.329c-12.546 3.216-21.358 14.212-21.807 27.129zm29.994-32.123c-8.788 0-15.938-7.15-15.938-15.939 0-8.788 7.15-15.938 15.938-15.938s15.938 7.15 15.938 15.938c0 8.789-7.15 15.939-15.938 15.939z'/%3e%3c/svg%3e");
    background-size: 90%;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    flex: 0 0 60px;
    overflow: hidden;
    border: 4px solid #ddd;
    border-radius: 50%;
}

.revCard-avatar img {
    object-fit: cover;
    object-position: center top;
}

.revCard-data {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.revCard-data div:first-child {
    background-size: contain;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg enable-background='new 0 0 512 512' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3e%3cg%3e%3cpath d='m512 198.769-177.221-25.591-78.779-159.624-78.779 159.624-177.221 25.591 128.544 124.248-30.088 175.429 157.544-82.822 157.544 82.822-30.088-175.429z' fill='%23fed843'/%3e%3cpath d='m383.456 323.017 128.544-124.248-177.221-25.591-78.779-159.624v402.07l157.544 82.822z' fill='%23fabe2c'/%3e%3c/g%3e%3c/svg%3e");
}

.revCard-rating-1 {
    width: 20px;
}

.revCard-rating-2 {
    width: 40px;
}

.revCard-rating-3 {
    width: 60px;
}

.revCard-rating-4 {
    width: 80px;
}

.revCard-rating-5 {
    width: 100px;
}

.revCard-name {
    font-size: 15px;
    font-weight: bold;
    color: #337AB7;
}

.revCard-date {
    font-size: 14px;
    color: #909090;
}

.revCard-middle {
    max-height: 220px;
    overflow: hidden;
    position: relative;
}

.revCard-middle.revCard-close {
    max-height: none;
}

.revCard-middle.revCard-gradient:after {
    content: "";
    position: absolute;
    pointer-events: none;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #FFF 75%)
}

.revCard-middle p {
    padding: 10px 0 0 4px;
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
}

.revCard-middle button {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 15px;
    transition: color 0.4s;
    cursor: pointer;
    background: transparent;
    z-index: 1;
}

.revCard-middle.revCard-close button {
    position: static;
    padding: 10px 10px 0;
}

.revCard-middle button:hover {
    color: rgba(0, 0, 0, 1);
}

.revCard-bottom {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 14px;
    color: #909090;
    transition: color 0.4s;
    text-decoration: none;
}

.revCard-bottom:hover {
    color: #000;
}

/* Кнопка Учиться */
.glass-btn {
    position: relative;
    width: 220px;
    height: 50px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}

.glass-btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 0 10px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

.glass-btn:hover a {
    letter-spacing: 3px;
}

.glass-btn a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}

.glass-btn:hover a:before {
    transform: skewX(45deg) translate(200px);
}

.glass-btn a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transition: 0.5s;
    border-radius: 30px;
    z-index: -1;
}

.glass-btn:hover a:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.glass-btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.glass-btn:hover:before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

.glass-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.glass-btn:hover:after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

.glass-btn.glass-btn-red a:after,
.glass-btn.glass-btn-red:before,
.glass-btn.glass-btn-red:after {
    background: #ff4747;
    box-shadow: 0 0 5px #ff4747, 0 0 15px #ff4747, 0 0 30px #ff4747, 0 0 60px #ff4747;
}

.glass-btn.glass-btn-blue a:after,
.glass-btn.glass-btn-blue:before,
.glass-btn.glass-btn-blue:after {
    background: #419cec;
    box-shadow: 0 0 5px #419cec, 0 0 15px #419cec, 0 0 30px #419cec, 0 0 60px #419cec;
}

.glass-btn.glass-btn-green a:after,
.glass-btn.glass-btn-green:before,
.glass-btn.glass-btn-green:after {
    background: #38ba35;
    box-shadow: 0 0 5px #38ba35, 0 0 15px #38ba35, 0 0 30px #38ba35, 0 0 60px #38ba35;
}

.teachButton {
    text-align: center;
}

.phone-button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 9999;
    background-color: #337AB7;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-phone'%3e%3cpath d='M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z'%3e%3c/path%3e%3c/svg%3e");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.phone-button:before,
.phone-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 1px solid #337AB7;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: border-animate 1.5s linear infinite;
    opacity: 0;
}

.phone-button:after {
    animation-delay: .5s;
}

@keyframes border-animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}